body {
  background-color: #f0f2f5;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-gray-300 {
  background-color: #d1d5db;
}

.btn-gray-200 {
  background-color: #e5e7eb;
}

.btn-gray-200:active,
.btn-gray-200:hover {
  background-color: #d1d5db !important;
}

.btn-green {
  color: #fff;
  background-color: #36a420;
}

.btn-green:active,
.btn-green:hover {
  color: #fff !important;
  background-color: #2b9217 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.fill-gray {
  fill: #65676b;
}

.fill-primary {
  fill: #1b74e4;
}

.flex-1 {
  flex: 1 1 0%;
}

.focus-bg-gray-200:focus {
  background-color: #e5e7eb;
}

.h-4\.5 {
  height: 1.125rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-13 {
  height: 3.25rem;
}

.hover-bg-gray-100:hover {
  background-color: #f3f4f6 !important;
}

.hover-bg-gray-200:hover {
  background-color: #e5e7eb !important;
}

.hover-bg-neutral-100:hover {
  background-color: #f5f5f5;
}

.hover-rounded-lg:hover {
  border-radius: 0.5rem;
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.hr-sm {
  height: 0.5px !important;
}

.max-h-101 {
  max-height: 25.25rem;
}

.max-w-99 {
  max-width: 24.75rem;
}

.max-w-100 {
  max-width: 25rem;
}

.max-w-152 {
  max-width: 38rem;
}

.max-w-245 {
  max-width: 61.25rem;
}

.max-w-266 {
  max-width: 66.5rem;
}

.max-w-274 {
  max-width: 68.5rem;
}

.no-underline {
  text-decoration: none;
}

.resize-none {
  resize: none;
}

.rounded-b-lg {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.space-x-1 {
  column-gap: 0.25rem;
}

.space-x-1\.5 {
  column-gap: 0.375rem;
}

.space-x-4 {
  column-gap: 1rem;
}

.text-2\.5 {
  font-size: 0.625rem;
}

.text-3 {
  font-size: 0.75rem;
}

.text-3\.5 {
  font-size: 0.875rem;
}

.text-4\.5 {
  font-size: 1.125rem;
}

.text-5 {
  font-size: 1.25rem;
}

.text-6 {
  font-size: 1.5rem;
}

.tw-left-80 {
  left: 20rem;
}

.tw-m-5 {
  margin: 1.25rem;
}

.tw-mb-5 {
  margin-bottom: 1.25rem;
}

.tw-mt-3 {
  margin-top: 0.75rem;
}

.tw-mt-10 {
  margin-top: 2.5rem;
}

.tw-pt-3 {
  padding-top: 0.75rem;
}

.tw-pt-10 {
  padding-top: 2.5rem;
}

.tw-pt-14 {
  padding-top: 3.5rem;
}

.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.tw-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tw-py-2\.5 {
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.w-4\.5 {
  width: 1.125rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-10 {
  width: 2.5rem;
}

.w-80 {
  width: 20rem;
}

.z-10 {
  z-index: 10;
}

.-m-7 {
  margin: -1.75rem;
}

.-ms-2 {
  margin-left: -0.5rem;
}

.-mt-20 {
  margin-top: -5rem;
}

.-px-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (min-width: 576px) {
  .w-sm-90 {
    width: 22.5rem;
  }
}

@media (min-width: 768px) {
  .-mt-md-10 {
    margin-top: -2.5rem;
  }
}

@media (min-width: 992px) {
  .max-w-lg-92 {
    max-width: 23rem;
  }

  .tw-pe-lg-10 {
    padding-right: 2.5rem;
  }

  .tw-ps-lg-10 {
    padding-left: 2.5rem;
  }

  .tw-pt-lg-23 {
    padding-top: 5.75rem;
  }

  .tw-pt-lg-41 {
    margin-top: 10.25rem;
  }
}

@media (min-width: 1200px) {
  .max-w-xl-125 {
    max-width: 31.25rem;
  }

  .text-xl-7 {
    font-size: 1.75rem;
  }
}
